table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

th {
  background-color: #ddd;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

td {
  padding: 8px;
  border: 1px solid #ccc;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.Mision_name {
  font-weight: bold;
}

.button-active {
  color: red;
  font-size: large;
  border-color: red;
  padding: 10px;
}

.button-desactive {
  padding: 10px;
  font-size: large;
}

.m-reserved {
  background-color: gray;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  font-size: smaller;
}

.active-reserved {
  background-color: #0b867e;
  border-radius: 5px;
  font-size: medium;
  color: #fff;
  padding: 5px;
}

.status {
  width: 10%;
}
